:root {
  --main-color: #F5A623;
  /* opacity 10% */
  --secondary-color: #219E6C;
  --background: #FAFAFA;
}

.filter {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin-top: 2em;
}

.filter__search {
  width: 50vw;
}

.table {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2em;
}
.filter__filter{
  display: flex;
    align-items: center;
    margin:0 20px;

}
.filter__text{
  margin:0 1em;
}
.MuiTableCell-root{
  padding: 6px !important;
}
.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: var(--secondary-color) !important;
}
@media screen and (max-width: 670px) {
  .filter {
    display: grid;
    grid-template-columns: 1fr;
  }

  .filter__search {
    width: 90vw;
  }
  .filter__filter{
    display: none
  }
}